<div class="page-title">Add custom book</div>
<form action="/books" method="post">
    <div class="input-line">
        <label for="">Title: </label>
        <input type="text" name="title">
    </div>
    <div class="input-line">
        <label for="">Author: </label>
        <input type="text" name="author">
    </div>
    <div class="input-line">
        <label for="">Publication Year: </label>
        <input type="text" name="publication_year">
    </div>
    <button>Share</button>
</form>