<div class="page-title">Change Password</div>

<% if (locals.errorMessage) { %>
    <p class="error"> <%= errorMessage %> </p>
<% } %>

<form action="/change_password?_method=put" method="post">
    <div class="change-password">
        <label for="">New Password: </label>
        <input type="password" name="new_password">
    </div>
    <div class="change-confirm-password">
        <label for="">Confirm Password: </label>
        <input type="password" name="confirm_password">
    </div>
    <button class="change-password-btn">Change password</button>
</form>