:root {
    --sans-serif: Arial, Helvetica, sans-serif;
    --darkpink: rgb(196, 27, 142);
    --lightpink: rgb(210, 113, 153);
    --lightestpink: rgb(213, 146, 174);
    --palepink: rgba(239, 201, 216, 0.765);
    --blue: #00d3d7;
    --paleblue: #c9eced;
    --cream: rgb(246, 226, 215);
    --grey: #a0a0a0;
    --transparent-white: rgba(255,255,255,0.3);
    --tile-width: 12rem;
    --book-show-width: 12rem;
    --website-font-family: "Gaegu", sans-serif; 
}

.all-reviews-wrapper, .user-review-wrapper, .all-notes-wrapper {
    height: 12rem;
    overflow: auto;
    padding: 0.5rem;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.all-user-reviews-wrapper, .all-vocab-wrapper, .all-completed-books-wrapper, .all-reviews-wrapper, .user-review-wrapper, .all-notes-wrapper {
    min-height: fit-content;
    max-height: 80vh;
    overflow: auto;
    padding: 0.5rem;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    scrollbar-color: var(--palepink) rgba(255, 255, 255, 0.134);
}

.book-show {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.book-show-top {
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem 0;
    width: 50vw;;
    border: 2px white solid;
}

.book-show-bottom {
    width: fit-content;
}

.book-show-img {
    width: 100%;
    margin: 0 auto;
}

.book-tile {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
    overflow: hidden;
    background: var(--transparent-white);
    width: var(--tile-width);
    margin: 1rem;
    display: grid;
    grid-template-rows: max-content 1fr;
    border: 2px white solid;
}
  
.book-tile:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.book-tile-bottom {
    padding: 0.5rem;
    text-align: center;
}

.book-tile-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img {
    width: var(--tile-width);
    cursor: pointer;
}

.btn-link-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-link {
    border: 2px white solid;
    border-radius: 5px;
    background: var(--transparent-white);
    padding: 3px 4px;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: var(--darkpink);
    font-size: small;
}

.completed-on {
    max-width: 12rem;
    margin-top: 1rem;
}

.completed-on-text {
    color: initial;
}

.custom-book {
    border: var(--lightestpink) 2px solid;
}

.delete-book-btn, .add-bookshelf-btn, .completed-book-btn, .remove-bookshelf-btn {
    width: fit-content;
    margin: 1rem auto;
}

.edit-book-btn {
    display: block;
    margin: 1rem auto auto;
    max-width: 5rem;
    text-align: center;
}

.error {
    color: red;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}
  
.input-line {
    padding: 0.6rem 0;
}

.left-nav, .right-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.left-nav {
    max-width: 70vw;
}

.right-nav {
    max-width: 20vw;
}

.left-nav > *, .right-nav > * {
    border: 2px white solid;
    border-radius: 5px;
    background: var(--transparent-white);
    padding: 3px 4px;
    height: fit-content;
    font-size: small;
}

.login-btn, .register-btn, .search-bookshelf-btn, .change-password-btn {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.login-email, .login-password, .register-username, .register-email, .register-password, .register-confirm-password, .change-password, .change-confirm-password {
    margin: 1rem auto;
    width: fit-content;
    color: var(--darkpink);
}

.login-wrapper {
    margin-top: 4vh;
}

.logout {
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    color: var(--darkpink);
    cursor: pointer;
}

.main-content {
    max-width: 80vw;
    margin: auto;
}

.name-span {
    text-transform: capitalize;
}

.note-block-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
}

.note-block-left {
    width: 18rem;
}

.note-block-right {
    align-self: center;
}

.page-title {
    display: block;
    width:fit-content;
    margin: 1rem auto;
    font-size: 2.2rem;
    color: var(--lightpink);
}

.page-subtitle {
    display: block;
    width:fit-content;
    margin: 1rem auto;
    font-size: 1.5rem;
    color: var(--lightestpink);
}

.page-wrapper {
    min-height: 100%;
    overflow: auto;
}

.property {
    color: var(--darkpink);
    display: inline;
}

.public-books {
    border-bottom: var(--lightpink) 1px dashed;
}

.public-books, .private-books, .bookshelf-books {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}
.review-edit > a {
    margin: 1rem 0;
}

.review-textbox > *, .note-textbox > *, .vocab-textbox > * {
    display: block;
    margin: 0.5rem 0;
}

.review-textbox, .note-textbox, .vocab-textbox {
    margin: 1rem 0;
}

.review-block-wrapper, .note-block-wrapper, .vocab-block-wrapper {
    border-bottom: 1px var(--lightestpink) solid;
    padding: 1rem 0;
}

.review-block-wrapper:last-child, .note-block-wrapper:last-child, .vocab-block-wrapper:last-child {
    border-bottom: none;
}

.review-content, .review-datetime, .review-writer, .review-my-review, .new-note, .note-content, .note-datetime, .new-vocab, .vocab-datetime, .completed-on {
    color: var(--darkpink);
}

.review-content-wrapper, .note-content-wrapper {
    border-bottom: 1px var(--grey) solid;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.search-bookshelf-input, .search-library-input {
    margin: 0.5rem auto;
}

.search-bookshelf-wrapper, .search-library-wrapper {
    margin: 1rem auto;
    width: fit-content;
    color: var(--darkpink);
}

.search-bookshelf-wrapper > *, .search-library-wrapper > * {
    display: block;
}

.title {
    display: block;
    width:fit-content;
    margin: 2rem auto auto;
    font-size: 2.5rem;
    color: var(--darkpink);
}

.vocab-block-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 80vw;
}

.vocab-btn-wrapper {
    display: flex;
    gap: 0.5rem;
}

.vocab-content {
    margin: 0 1rem;
}

.vocab-delete {
    display: inline-block;
}

.vocab-edit {
    display: inline-block;
}

.vocab-edit a {
    margin: 0;
}

.vocab-info {
    margin: 1rem;
}

.vocab-info-btn {
    height: fit-content;
}

.vocab-textbox textarea {
    min-width: 5rem;
    height: 2.2rem;
}


body {
    min-height: 100%;
    height: 95vh;
    margin: 0;
    overflow: auto;
    background-color: var(--cream);
    background-image: linear-gradient(var(--transparent-white), var(--transparent-white)), linear-gradient(rgba(252, 213, 192, 0.3), rgba(252, 213, 192, 0.3)), url("paper.jpg");
}

button {
    border: 2px white solid;
    border-radius: 5px;
    background: var(--transparent-white);
    padding: 3px 4px;
    display: inline-block;
    color: var(--darkpink);
    cursor: pointer;
    font-size: small;
    font-family: inherit;
}

html {
    min-height: 100%;
    font-family: var(--website-font-family);
    overflow: auto;
}

input {
    border-radius: 5px;
    width: 8rem;
    padding: 2px;
    font-family: inherit;
}

nav {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--darkpink);
}

textarea {
    min-width: 100%;
    border-radius: 5px;
    width: 8rem;
    padding: 2px;
    font-family: inherit;
}

@media (min-width: 600px) {
    .public-books, .private-books, .bookshelf-books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-between;
    }

    .left-nav, .right-nav {
        gap: 1rem;
    }
    
    .left-nav {
        max-width: 50vw;
    }
    
    .right-nav {
        max-width: 50vw;
    }
    
    .left-nav > *, .right-nav > * {
        font-size: medium;
    }

    .title {
        font-size: 3.2rem;
    }

    .book-show {
        gap: 4rem;
    }

    .book-show-top {
        width: fit-content;
    }

    .book-show-bottom {
        width: fit-content;
    }

    .book-show-img {
        width: var(--book-show-width);
    }

    .main-content {
        width: fit-content;
    }

    .edit-book-btn {
        width: fit-content;
    }

    .btn-link {
        font-size: medium;
    }

    .vocab-block-wrapper {
        max-width: 50vw;
    }

    button {
        font-size: medium;
    }
}

@media (min-width: 900px) {
    .public-books, .private-books, .bookshelf-books {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .public-books, .private-books, .bookshelf-books {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1500px) {
    .public-books, .private-books, .bookshelf-books {
        grid-template-columns: repeat(5, 1fr);
    }
}